{{block "list" . }}
<div
  id="list"
  style="display: flex; flex-direction: column; gap: 1rem; padding: 40px"
>
  {{ range $i, $v := .words }}
  <div>
    <form
      method="post"
      hx-delete="/delete/{{$i}}"
      hx-target="#list"
      hx-swap="outerHTML"
    >
      <span>{{ $v }}</span>
      <button type="submit" style="height: 100%">x</button>
    </form>
  </div>
  {{ end }}
</div>
{{end}} {{ block "form" . }}
<section id="form">
  <form method="post" hx-post="/create" hx-target="#form" hx-swap="outerHTML">
    <input type="text" name="word" required value="{{ .word }}" />
    <input type="submit" value="Submit" />
  </form>

  {{if .error}}
  <p>{{ .error }}</p>
  {{end}} {{template "list" . }}
</section>
{{end}} {{block "search" . }}
<input
  type="search"
  name="word"
  placeholder="Begin Typing To Search..."
  hx-post="/search"
  hx-trigger="keyup changed delay:100ms, search"
  hx-target="#search-results"
  style="width: 100%; padding: 8px"
/>

{{template "search-results" . }} {{end}} {{block "search-results" . }}
<div id="search-results">
  <ul>
    {{range .results}}
    <li>{{.}}</li>
    {{else}}
    <li>No results found</li>
    {{end}}
  </ul>
</div>

{{end}}
